<%- include('../includes/head.ejs') %>

<%- include('../includes/navigation.ejs') %>

</div>
        <div class="contact-section">
                <div class="contact-info">
                    <div><i class="fas fa-map-marker-alt"></i>Address, City, Country</div>
                    <div><i class="fas fa-envelope"></i>contactus@gmail.com</div>
                    <div><i class="fas fa-phone"></i>+00 0000 00000</div>
                    <div><i class="fas fa-clock"></i>Mon - Fri 9:00 AM to 6:00 PM </div>
                </div>
        
                <div class="contact-form">
                    <h2>Contact Us</h2>
                    <form class="contact" action="" method="post">
                        <input type="text" name="name" class="text-box" placeholder="Enter Name" required>
                        <input type="email" name="email" class="text-box" placeholder="Enter Email" required>
                        <textarea name="message" id="" placeholder="Enter Message" rows="5" required></textarea>
                        <input type="submit" name="Submit" class="submit-btn" value="send">
                    
                    </form>
                </div>
        </div>
        
        

<%- include('../includes/footer.ejs') %>